@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
*
{
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body
{
	height: 100vh;
    background: #e6e600;
}
.center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    margin: auto;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul 
{   
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
}